<main class="contenedor panel-administracion">
    <h1>
        <%= pageName %>
    </h1>
    <div class="contenedor-botones">
        <a href="/new-group" class="btn btn-amarillo">New group</a>
        <a href="/new-meeti" class="btn btn-azul">New meeti</a>
        <a href="/edit-profile" class="btn btn-rosa">Edit profile</a>
        <a href="/profile-picture" class="btn btn-amarillo">Profile picture</a>
    </div>

    <div class="seccion-admin">
        <h2>Your events</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Monday, December 25, 2020</p>
                    <h3>Navidarks, good pleasure</h3>
                    <small>23 assistants</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Edit</a>
                    <a href="#" class="btn btn-azul2">assistants</a>
                    <a href="#" class="btn btn-rojo">Delete</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Friday, December 31, 2020</p>
                    <h3>Party in the michi's house</h3>
                    <small>10 assistants</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Edit</a>
                    <a href="#" class="btn btn-azul2">assistants</a>
                    <a href="#" class="btn btn-rojo">Delete</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Friday, January 28, 2021</p>
                    <h3>Nadia's birthday</h3>
                    <small>4 assistants</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Edit</a>
                    <a href="#" class="btn btn-azul2">assistants</a>
                    <a href="#" class="btn btn-rojo">Delete</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="seccion-admin">
        <h2>Your groups</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <h3>Elliot and Koan</h3>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Edit</a>
                    <a href="#" class="btn btn-azul2">Picture</a>
                    <a href="#" class="btn btn-rojo">Delete</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <h3>Cooffe Lovers</h3>         
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Edit</a>
                    <a href="#" class="btn btn-azul2">Picture</a>
                    <a href="#" class="btn btn-rojo">Delete</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <h3>Javascript Heaters</h3>  
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Edit</a>
                    <a href="#" class="btn btn-azul2">Picture</a>
                    <a href="#" class="btn btn-rojo">Delete</a>
                </div>
            </li>
        </ul>
    </div>
</main>