<main class="contenedor contenedor-formularios">
    <h1><%= pageName %></h1>
    <form action="/create-account" method="POST" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder="Your email">
        </div>
        <div class="campo">
            <label>Nombre</label>
            <input type="email" name="nombre" placeholder="Your name">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="email" name="password" placeholder="Your password">
        </div>
        <div class="campo">
            <label>Repeat password</label>
            <input type="email" name="repeat-password" placeholder="Repeat your password">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Create account">
        </div>
    </form>
</main>