<h1 style="
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
">Confirm your account</h1>

<p style="
    font-family: Arial, Helvetica, sans-serif;
">Hi, you are one step away from creating a community in Meeti, confirm your account in the following link:</p>

<a style="
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #00C897;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
" href="<%= url %>">Confirm account</a>

<p style="font-family: Arial, Helvetica;">If can't access this link, visit: <%= url %></p>

<p style="font-family: Arial, Helvetica;">if you didn't request this e-mail, you can ignore it </p>